[submodule "suckless-terminal"]
	path = suckless-terminal
	url = https://git.suckless.org/st
[submodule "mesonbuild"]
	path = mesonbuild
	url = https://github.com/mesonbuild/meson.git
[submodule "wayland"]
	path = wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "wlroots"]
	path = wlroots
	url = https://github.com/swaywm/wlroots.git
[submodule "wshowkeys-aur"]
	path = wshowkeys-aur
	url = https://aur.archlinux.org/wshowkeys-git.git
[submodule "wshowkeys"]
	path = wshowkeys
	url = https://github.com/ammgws/wshowkeys.git
[submodule "aur-search-git"]
	path = aur-search-git
	url = https://aur.archlinux.org/aur-search-git.git
[submodule "aur-search"]
	path = aur-search
	url = https://github.com/takiz/aur-search
